<app-navbar></app-navbar>

<!-- STATIC VERSIO OF SLIDER -->
<!-- <div class="home">
    <div class="middle">
        <div class="icon-left">
            <div class="circle"></div>
            <div class="arrow-left"></div>
        </div>
        <h1>Unisciti<br>all’avventura! </h1>
        <div class="icon-right">
            <div class="circle"></div>
            <div class="arrow-right"></div>
        </div>
    </div>
    <button class="button">PRENOTA ORA </button>

</div> -->

<!-- DYNAMIC VERSION OF THE SLIDER-->

<p-carousel [value]="slides" [circular]="true" [responsiveOptions]="responsiveOptions">
    <ng-template let-slide pTemplate="item">
        <div class="border-1 surface-border border-round m-2 p-3">
            <div class="relative mx-auto w-full">
                <img [src]="slide.image" [alt]="slide.name" class="w-full border-round" />
                <div class="title">
                    <h1>{{slide.name}}</h1>
                    <button class="button">View More</button>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>