/* .container {
  border-radius: 49px;
} */

.box {
  width: 700px;
  height: 700px;
  background-color: #f6fbf9;
  border-radius: 49px;
  align-items: center;

  .title {
    padding-top: 60px;
    font-size: 55px;
    font-family: "Karla";
    font-weight: normal;
    text-align: center;
  }

  .subtitle {
    margin-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    font-size: 26px;
    font-family: "Karla";
    font-weight: lighter;
    line-height: 1.1;
  }

  .form {
    margin-top: 60px;
    text-align: center;
  }

  .form #mail {
    height: 85px;
    width: 70%;
    padding-left: 50px;
    font-family: "Karla";
    font-size: 23px;
    border-radius: 15px;
    /* border: darkgray; */
    /* border-width: 2px; */
    border: 1px solid grey;
  }
  .password {
    padding-top: 23px;
    border-radius: 15px;
  }

  .signup-btn {
    background-color: #84c7ae;
    border-radius: 23px;
    padding: 22px 72px;
    border: none;
    font-size: 33px;
    font-weight: bold;
    color: #fff;
  }

  .signup-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 55px;
  }

  .comment {
    display: flex;
    justify-content: center;
    font-family: "Karla";
    font-size: 22px;
    font-weight: lighter;
    margin-top: 35px;
    gap: 7px;
  }

  .p2 {
    text-decoration: underline;
  }

  /* .form #password {
    height: 85px;
    width: 80%;
  } */
}

/* margin : distance binet div ou div */

/* .mdc-dialog__surface::before {
  border-radius: 20px;
} */
/* :host {
  border-radius: 100px;
} */
