<div class="container">
  <div class="box">
    <div class="title">Create An Account</div>
    <div class="subtitle">
      Create an account to enjoy all the services<br />
      without any ads for free!
    </div>

    <div class="form">
      <div class="mail">
        <input id="mail" type="text" placeholder="Email Address" />
      </div>
      <div class="password">
        <input id="mail" type="password" placeholder="Password" />
      </div>
    </div>
    <div class="signup-btn-container">
      <button class="signup-btn">Create Account</button>
    </div>
    <div class="comment">
      <div class="p1">Already Have An Account?</div>
      <div class="p2">Sign In</div>
    </div>
  </div>
</div>
