<nav class="navbar">
  <div class="contact">
    <div class="socialmedia">
      <div class="icon">
        <img src="assets/navbar/cercle.svg" class="cercle" />
        <a href="#"
          ><img src="assets/navbar/facebook.svg" class="facebook"
        /></a>
      </div>
    </div>
    <div>85 796 321</div>
    <div>contact&#64;camping.tn</div>
  </div>
  <div class="logo">
    <img src="assets/logo.svg" />
  </div>
  <div>
    <ul class="links">
      <li><a routerLink="#"></a>HOME</li>
      <li><a routerLink="/explore"></a>EXPLORE</li>
      <li><a routerLink="/about-us"></a>ABOUT US</li>
    </ul>
  </div>
  <div class="but">
    <button>SIGN IN</button>
    <button (click)="openDialog()">SIGN UP</button>
  </div>
</nav>
