<div class="cart">
    <div class="image">
        <img src="assets/cart/location1.svg">
    </div>
    <div class="title">
        <h2>Casa Beta</h2>
    </div>
    <div class="infos">
        <div class="star">
            <img src="assets/cart/star.svg">
            <img src="assets/cart/star.svg">
            <img src="assets/cart/star.svg">
            <img src="assets/cart/emptystar.svg">
            <img src="assets/cart/emptystar.svg">
        </div>
        <div class="difficulty">
            <h3>Medium</h3>
        </div>
        <div class="season">
            <img src="assets/cart/summer.png">
        </div>
    </div>