<div class="cart">
  <div>
    <img src="assets/destinations/dest1.svg" />
  </div>
  <div class="name">Casa Beta</div>
  <div class="info">
    <div class="stars">
      <img src="assets/explore/star/star.svg" />
      <img src="assets/explore/star/star.svg" />
      <img src="assets/explore/star/star.svg" />
      <img src="assets/explore/star/emptystar.svg" />
      <img src="assets/explore/star/emptystar.svg" />
    </div>
    <div class="season">
      <img src="assets/explore/season/summer.svg" />
    </div>
    <div class="level">EASY</div>
  </div>
</div>
